body{
    
    background-image: url("../../Basic-Portfolio/assets/images/embossed-diamond.png");
  }
   
header{
    background-color: #7ebca5;
    color: white;
    font-family: Georgia, Times, 'Times New Roman', serif;
}
.container {
    background: white
    
        
            }
            